<!-- pagina gioco: tabella del tris -->
       
     
           <div class="quadrato">
               
        <div class="tris">
		
			<img id="u1" src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
        
      
            <img id="u2"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
       
            <img id="u3"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
		</div>
               
               
         <div class="tris">
     
			<img id="u4"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
      
            <img id="u5"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
        
            <img id="u6"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
		</div>
               
               
                   <div class="tris">
                
    
			<img id="u7" src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
        
      
            <img id="u8" src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">

            <img id="u9"  src="img/unos.jpg" alt="image not found!" onclick="preparaz(this)">
               </div>  
               
           </div>
      
        
        <button onclick="restart();">RESTART</button>
      

		
		<!-- your HTML output follows -->
		