
.area{
    background-color: black;
   
 
}
/* le righe del tris:*/
.tris{vertical-align: top;}
/* la tabella del tris: */
.quadrato {
	
	border: 2px outset gray;
	border-radius: 10px;
    height: 230px;
    width: 230px;
    margin-left:500px;
    margin-top:100px;
    
}
ul {
	list-style-type: none;
	padding-left: 0em;
}

ul li a img {
	vertical-align: middle;
}
/* form styles */
fieldset {
	background-color: #E0E0FF;
	border: 2px outset gray;
	border-radius: 10px;
    color: green;
    margin-left:60px;
   
}

/* the bold text labels to the left of each form field */
fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 11em;
}
legend {
    
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}
h1 {
	margin-top: 0em;
}
body > div, form {
	overflow: hidden;
	width: 35em;
}
#banner{
	background-image: url("img/mate.png");
    float:top;
    width:inherit;
}


#banner img{
	height: 50px;
	display: block;
	margin: auto;	
    
}
#footer{
margin-left:25px;
position:fixed;
bottom:0px;


    

    
    
}
#w3c{
  
	position: fixed;
	right:0;
	bottom: 0px;
    opacity:0.5;
    width:auto;
    

}
a {
    margin-left:15px;
	color: beige;
	
}
body{
	background-image: url("img/sfondo-lavagna.jpg");
	font-size: 8pt;
	font-family: "Tahoma", "Verdana", sans-serif;
	margin: 2px;
	padding: 0px;
    color: white;
    font-size: 12pt;
    
}
#play{
    position: fixed;
    margin-left:585px;
    margin-top:200px;
    font-size: 20pt;
    color:red;
}
/* bottone restart: */
button{
    margin-left:585px;
    margin-top:30px;
    background-image: url("img/unos.jpg");
    text-shadow: 1px 1px white;
    font-size: 10pt;
    color:white;
   
}